* { box-sizing: border-box; }


body {
	background-color: #3c3c3c;
	margin: 0px;
	overflow: hidden;
	font-family: sans-serif;
	}
.logoLabel{
	color: Blue;
	font-family: monospace;
   font-weight: bolder;
   font-style: normal;
   font-size: x-large;
   padding: 12px 0px 0px 12px;
}

.main_scene{
	display:flex;
	padding-left: 10px;
}

.shapes-group{
	padding-left:20px;
}
.shapes-group button{
	padding-left:0px;
}
.input__shapes{
	width:27px;
	margin-right:5px;
}
.labels__shapes{
	font-size:12px;
}

label { margin-right: 10px; }
.images_shape{
	width:53px;
	height:40px;
	padding:5px;
}


.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}